{% extends "base.html" %}
{% block content %}

<body>
    <h1>Companies</h1>
    <table id="company-table" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Board URL</th>
                <th>Scraping Method</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button id="add-company-btn" class="btn btn-success">Add Company</button>

    {% if current_user.is_authenticated %}
    <h1>My Job Searches</h1>
    <table id="board-table" class="table table-striped">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Search Text</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <button id="add-row-btn" class="btn btn-success">Add Row</button>
    {% endif %}

    <script>
        let companies = [];
        let firstCompanyId = null;
        var URL = "{{protocol}}://{{ host }}";

        document.addEventListener('DOMContentLoaded', function () {
            fetch(`${URL}/companies`)
                .then(response => response.json())
                .then(fetchedCompanies => {
                    companies = fetchedCompanies;
                    firstCompanyId = companies.length > 0 ? companies[0].id : null;

                    const companyTableBody = document.querySelector('#company-table tbody');
                    companies.forEach(company => {
                        const row = createCompanyRow(company);
                        companyTableBody.appendChild(row);
                    });

                    // Fetch job searches
                    fetch(`${URL}/searches`)
                        .then(response => response.json())
                        .then(boards => {
                            const tableBody = document.querySelector('#board-table tbody');

                            boards.forEach(board => {
                                const row = createBoardRow(board);
                                tableBody.appendChild(row);
                            });
                        });
                });
        });

        const addCompanyBtn = document.getElementById('add-company-btn');
        addCompanyBtn.addEventListener('click', function () {
            const defaultName = 'Default Company';
            const defaultBoardUrl = 'https://www.example.com';
            const defaultScrapingMethod = 'soup';

            const company = {
                name: defaultName,
                board_url: defaultBoardUrl,
                scraping_method: defaultScrapingMethod
            };

            // Create the row with default values first
            const tableBody = document.querySelector('#company-table tbody');
            const row = createCompanyRow(company);
            tableBody.appendChild(row);

            fetch(`${URL}/companies`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(company)
            }).then(response => response.json())
                .then(newCompany => {
                    row.dataset.id = newCompany.id;
                    row.replaceWith(createCompanyRow(newCompany));
                });
        });

        function createCompanyRow(company) {
            const row = document.createElement('tr');
            row.dataset.id = company.id;

            const nameCell = document.createElement('td');
            const boardUrlCell = document.createElement('td');
            const scrapingMethodCell = document.createElement('td');
            const scrapingMethodSelect = document.createElement('select');
            const soupOption = document.createElement('option');
            const seleniumOption = document.createElement('option');

            soupOption.value = 'soup';
            soupOption.text = 'Soup';
            seleniumOption.value = 'selenium';
            seleniumOption.text = 'Selenium';

            scrapingMethodSelect.appendChild(soupOption);
            scrapingMethodSelect.appendChild(seleniumOption);
            scrapingMethodSelect.value = company.scraping_method;

            scrapingMethodCell.appendChild(scrapingMethodSelect);
            row.appendChild(scrapingMethodCell);

            nameCell.contentEditable = true;
            boardUrlCell.contentEditable = true;

            nameCell.innerText = company.name;
            boardUrlCell.innerText = company.board_url;

            row.appendChild(nameCell);
            row.appendChild(boardUrlCell);
            row.appendChild(scrapingMethodCell);

            const actionsCell = document.createElement('td');
            const deleteBtn = document.createElement('button');
            deleteBtn.className = 'btn btn-danger';

            deleteBtn.innerText = 'Delete';
            deleteBtn.addEventListener('click', function () {
                fetch(`${URL}/companies/${row.dataset.id}`, {
                    method: 'DELETE'
                }).then(() => {
                    row.remove();
                });
            });

            actionsCell.appendChild(deleteBtn);
            row.appendChild(actionsCell);

            nameCell.addEventListener('blur', autoSaveCompany);
            nameCell.addEventListener('keydown', handleEnterKey(autoSaveCompany));
            boardUrlCell.addEventListener('blur', autoSaveCompany);
            boardUrlCell.addEventListener('keydown', handleEnterKey(autoSaveCompany));
            scrapingMethodSelect.addEventListener('change', autoSaveCompany);

            return row;
        }

        function autoSaveCompany(event) {
            const cell = event.target;
            const row = cell.closest('tr');
            const nameCell = row.querySelector('td:nth-child(1)');
            const boardUrlCell = row.querySelector('td:nth-child(2)');
            const scrapingMethodSelect = row.querySelector('td:nth-child(3) select');

            const formData = new FormData();
            formData.append('name', nameCell.innerText);
            formData.append('board_url', boardUrlCell.innerText);
            formData.append('scraping_method', scrapingMethodSelect.value);

            fetch(`${URL}/companiess/${row.dataset.id}`, {
                method: 'PUT',
                body: formData
            });
        }

        const addRowBtn = document.getElementById('add-row-btn');
        addRowBtn.addEventListener('click', function () {
            const defaultCompanyId = firstCompanyId;
            const defaultSearchText = 'A regex';

            const board = {
                company_id: defaultCompanyId,
                search_text: defaultSearchText
            };

            const tableBody = document.querySelector('#board-table tbody');
            const row = createBoardRow(board);
            tableBody.appendChild(row);

            fetch(`${URL}/searches`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(board)
            }).then((response) => {
                response.json().then(newBoard => {
                    row.dataset.id = newBoard.id;
                });
            });
        });

        function createBoardRow(board) {
            const row = document.createElement('tr');
            row.dataset.id = board.search_id;

            const companyNameCell = document.createElement('td');
            const companySelect = document.createElement('select');
            const searchCell = document.createElement('td');

            companies.forEach(company => {
                const option = document.createElement('option');
                option.value = company.id;
                option.text = company.name;

                if (company.id === board.company_id) {
                    option.selected = true;
                }
                companySelect.appendChild(option);
            });

            companyNameCell.appendChild(companySelect);

            searchCell.contentEditable = true;

            searchCell.innerText = board.search_text;

            row.appendChild(companyNameCell);
            row.appendChild(searchCell);

            const actionsCell = document.createElement('td');
            const deleteBtn = document.createElement('button');
            deleteBtn.className = 'btn btn-danger';

            deleteBtn.innerText = 'Delete';
            deleteBtn.addEventListener('click', function () {
                fetch(`${URL}/searches/${row.dataset.id}`, {
                    method: 'DELETE'
                }).then(() => {
                    row.remove();
                });
            });

            actionsCell.appendChild(deleteBtn);
            row.appendChild(actionsCell);

            companySelect.addEventListener('change', autoSaveBoard);
            searchCell.addEventListener('blur', autoSaveBoard);
            searchCell.addEventListener('keydown', handleEnterKey(autoSaveBoard));

            return row;
        }

        function autoSaveBoard(event) {
            const cell = event.target;
            const row = cell.closest('tr');
            const companySelect = row.querySelector('td:nth-child(1) select');
            const searchCell = row.querySelector('td:nth-child(2)');

            const formData = new FormData();
            formData.append('company_id', companySelect.value);
            formData.append('search_text', searchCell.innerText);

            fetch(`${URL}/searches/${row.dataset.id}`, {
                method: 'PUT',
                body: formData
            });
        }

        function handleEnterKey(saveFunction) {
            return function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault(); // Prevent adding a newline
                    event.target.blur(); // Remove focus from the cell
                }
            };
        }
    </script>
</body>

{% endblock %}