{% extends "base.html" %}
{% block content %}

<body>
    <div id="spinner-container" class="spinner-container" style="display: none;">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <div class="modal fade" id="addCompanyModal" tabindex="-1" aria-labelledby="addCompanyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCompanyModalLabel">Add a New Company</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="add-company-name" class="form-label">Company Name</label>
                        <input type="text" class="form-control" id="add-company-name" placeholder="Enter company name"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="add-company-board-url" class="form-label">Board URL</label>
                        <input type="text" class="form-control" id="add-company-board-url" placeholder="Board URL"
                            required pattern="https?://.+" title="Please enter a valid URL">
                    </div>
                    <div class="mb-3">
                        <label for="add-company-url-prefix" class="form-label">Job Posting URL Prefix</label>
                        <input type="text" class="form-control" id="add-company-url-prefix"
                            placeholder="Job Posting URL Prefix" required pattern="https?://.+"
                            title="Please enter a valid URL">
                    </div>
                    <div class="mb-3">
                        <label for="add-company-scraping-method" class="form-label">Scraping Method</label>
                        <select class="form-select" id="add-company-scraping-method" required>
                            <option value="soup">Soup</option>
                            <option value="selenium">Selenium</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" id="test-scraping">Test</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="testResultsModal" tabindex="-1" aria-labelledby="testResultsModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="testResultsModalLabel">Test Results</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table" id="url-results-table">
                        <thead>
                            <tr>
                                <th scope="col">URLs Found</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="go-back">Go Back</button>
                    <button type="button" class="btn btn-primary" id="confirm-add-company">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <h1>Companies</h1>
    <table id="company-table" class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Board URL</th>
                <th>Job Posting URL Prefix</th>
                <th>Scraping Method</th>
                {% if current_user.email == "mrkaye97@gmail.com" %}
                <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    {% if current_user.is_authenticated %}
    <button id="add-company-btn" class="btn btn-success">Add Company</button>
    {% endif %}
    {% if current_user.email == "mrkaye97@gmail.com" %}
    <button id="run-crawl-job-btn" class="btn btn-primary">Run Crawl Job</button>
    <button id="run-email-job-btn" class="btn btn-primary">Run Email Job</button>
    {% endif %}


    {% if current_user.is_authenticated %}
    <h1>My Job Searches</h1>
    <div id="job-search-cards" class="job-search-cards">
        <!-- Cards will be generated here -->
    </div>
    <div class="text-center mt-4">
        <button id="add-card-btn" class="btn btn-success">New</button>
    </div>

    <div class="modal fade" id="addCardModal" tabindex="-1" aria-labelledby="addCardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCardModalLabel">Add a new job search</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="company-select" class="form-label">Company</label>
                            <select id="company-select" class="form-select">
                                <!-- The options will be populated by JavaScript -->
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="search-regex" class="form-label">Search regex</label>
                            <input type="text" class="form-control" id="search-regex">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="save-card-btn" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editCardModal" tabindex="-1" aria-labelledby="editCardModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editCardModalLabel">Edit job searches</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="mb-3">
                            <label for="search-regex-edit" class="form-label">Search regex</label>
                            <input type="text" class="form-control" id="search-regex-edit">
                        </div>
                    </form>
                    <ul id="edit-search-list" class="list-group">
                        <!-- Job searches will be populated by JavaScript -->
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="add-search-btn" class="btn btn-primary">Add Search</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        let companies = [];
        let firstCompanyId = null;

        document.addEventListener('DOMContentLoaded', function () {
            fetch(`/companies`)
                .then(response => response.json())
                .then(fetchedCompanies => {
                    companies = fetchedCompanies;
                    firstCompanyId = companies.length > 0 ? companies[0].id : null;

                    const companyTableBody = document.querySelector('#company-table tbody');
                    companies.forEach(company => {
                        const row = createCompanyRow(company, "{{current_user.email}}");
                        companyTableBody.appendChild(row);
                    });

                    $('#company-table').DataTable({
                        pageLength: 5,
                        lengthChange: true,
                        searching: true
                    });
                });

            {% if current_user.is_authenticated %}
            fetch(`/searches`)
                .then(response => response.json())
                .then(searchesByCompany => {
                    const searchesArray = Object.entries(searchesByCompany).map(([companyId, searches]) => {
                        const companyName = companies.find(company => company.id === parseInt(companyId)).name;
                        return { companyId, companyName, searches };
                    });

                    const companiesWithExistingSearches = Object.keys(searchesByCompany).map(Number);
                    const companiesWithoutExistingSearches = companies.filter(obj => !companiesWithExistingSearches.includes(obj.id));

                    populateCompanyDropdown(companiesWithoutExistingSearches);

                    searchesArray.forEach(search => {
                        const card = createJobSearchCard(search.companyId, search.companyName, search.searches);
                        const jobSearchCards = document.getElementById('job-search-cards');
                        jobSearchCards.appendChild(card);
                    });
                });
            {% endif %}

        });

        {% if current_user.is_authenticated %}
        const addCompanyBtn = document.getElementById('add-company-btn');
        if (addCompanyBtn) {
            addCompanyBtn.addEventListener('click', function () {
                const addCompanyModal = new bootstrap.Modal(document.getElementById('addCompanyModal'), {});
                addCompanyModal.show();
            });
        }
        {% endif %}


        const confirmAddCompanyBtn = document.getElementById('confirm-add-company');
        if (confirmAddCompanyBtn) {
            confirmAddCompanyBtn.addEventListener('click', function () {
                const nameInput = document.getElementById('add-company-name');
                const boardUrlInput = document.getElementById('add-company-board-url');
                const urlPrefixInput = document.getElementById('add-company-url-prefix');
                const scrapingMethodInput = document.getElementById('add-company-scraping-method');

                fetch(`/companies`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: nameInput.value,
                        board_url: boardUrlInput.value,
                        job_posting_url_prefix: urlPrefixInput.value,
                        scraping_method: scrapingMethodInput.value
                    })
                }).then(response => response.json())
                    .then(company => {
                        const companyTable = document.getElementById('company-table');
                        const companyRow = createCompanyRow(company, "{{current_user.email}}");
                        companyTable.querySelector('tbody').appendChild(companyRow);

                        nameInput.value = '';
                        boardUrlInput.value = '';
                        urlPrefixInput.value = '';
                        scrapingMethodInput.value = '';

                        const testResultsModal = bootstrap.Modal.getInstance(document.getElementById('testResultsModal'));
                        testResultsModal.hide();
                    });
            });
        }

        const addCardBtn = document.getElementById('add-card-btn');
        const addCardModal = new bootstrap.Modal(document.getElementById('addCardModal'), {});
        if (addCardBtn) {
            addCardBtn.addEventListener('click', function () {
                addCardModal.show();
            });
        }

        const addSearchBtn = document.getElementById('add-search-btn');
        if (addSearchBtn) {
            addSearchBtn.addEventListener('click', function () {
                const companyId = document.getElementById('edit-search-list').dataset.companyId;
                const searchRegex = document.getElementById('search-regex-edit').value;

                const newSearch = {
                    company_id: companyId,
                    search_regex: searchRegex
                };

                fetch(`/searches`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newSearch)
                }).then((response) => {
                    response.json().then(savedSearch => {
                        const listItem = createSearchListItem(savedSearch);
                        document.querySelector(`[data-id="${companyId}"] ul`).appendChild(listItem);
                        document.getElementById('edit-search-list').appendChild(listItem.cloneNode(true));

                        // Clear the input field
                        document.getElementById('search-regex-edit').value = '';
                    });
                });
            });
        }


        const saveCardBtn = document.getElementById('save-card-btn');
        if (saveCardBtn) {
            saveCardBtn.addEventListener('click', function () {
                const companyId = document.getElementById('company-select').value;
                const searchRegex = document.getElementById('search-regex').value;
                const defaultCompanyId = firstCompanyId;

                const newBoard = {
                    company_id: companyId || defaultCompanyId,
                    search_regex: searchRegex
                };

                fetch(`/searches`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(newBoard)
                }).then((response) => {
                    response.json().then(savedBoard => {
                        const rowDiv = document.querySelector('#job-search-cards');
                        const existingCard = Array.from(rowDiv.children).find(cardDiv => cardDiv.dataset.id === savedBoard.company_id);

                        if (existingCard) {
                            const searchList = existingCard.querySelector('ul');
                            const listItem = document.createElement('li');
                            listItem.textContent = savedBoard
                            listItem.textContent = savedBoard.search_regex;
                            listItem.dataset.searchId = savedBoard.search_id;

                            // Add delete button to list item
                            const deleteBtn = document.createElement('button');
                            deleteBtn.className = 'btn btn-danger btn-sm ms-2';
                            deleteBtn.textContent = 'Delete';
                            deleteBtn.addEventListener('click', function () {
                                fetch(`/searches/${listItem.dataset.searchId}`, {
                                    method: 'DELETE'
                                }).then(() => {
                                    listItem.remove();
                                });
                            });
                            listItem.appendChild(deleteBtn);

                            searchList.appendChild(listItem);
                        } else {
                            const companyName = companies.find(company => company.id === parseInt(savedBoard.company_id)).name;
                            const card = createJobSearchCard(savedBoard.company_id, companyName, [savedBoard]);
                            rowDiv.appendChild(card);
                        }

                        // Clear the input fields and close the modal
                        document.getElementById('company-select').value = '';
                        document.getElementById('search-regex').value = '';
                        addCardModal.hide();
                    });
                });
            });
        }

        const testScrapingBtn = document.getElementById('test-scraping');
        const addCompanyModalElement = document.getElementById('addCompanyModal');
        const addCompanyModal = bootstrap.Modal.getInstance(addCompanyModalElement);

        if (addCompanyModalElement) {
            addCompanyModalElement.addEventListener('hidden.bs.modal', () => {
                const nameInput = document.getElementById('add-company-name');
                const boardUrlInput = document.getElementById('add-company-board-url');
                const jobPostingUrlPrefixInput = document.getElementById('add-company-url-prefix');
                const scrapingMethodInput = document.getElementById('add-company-scraping-method');

                // Clear input fields
                nameInput.value = '';
                boardUrlInput.value = '';
                jobPostingUrlPrefixInput.value = '';
                scrapingMethodInput.value = 'soup';

                // Remove error alert if present
                const existingError = addCompanyModalElement.querySelector('.alert');
                if (existingError) {
                    existingError.remove();
                }
            });
        }

        if (testScrapingBtn) {
            testScrapingBtn.addEventListener('click', function () {
                const nameInput = document.getElementById('add-company-name');
                const boardUrlInput = document.getElementById('add-company-board-url');
                const jobPostingUrlPrefixInput = document.getElementById('add-company-url-prefix');
                const scrapingMethodInput = document.getElementById('add-company-scraping-method');
                const defaultErrorMessage = "Sorry, something went wrong.";

                const spinnerContainer = document.getElementById('spinner-container');
                spinnerContainer.style.display = 'flex';

                fetch(`/scraping/test`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        name: nameInput.value,
                        board_url: boardUrlInput.value,
                        job_posting_url_prefix: jobPostingUrlPrefixInput.value,
                        scraping_method: scrapingMethodInput.value
                    })
                }).then(response => {
                    if (!response.ok) {
                        return response.json().then(errorData => {
                            const errorMessage = errorData.message || defaultErrorMessage;
                            throw new Error(errorMessage);
                        });
                    }
                    return response.json();
                }).then(urlResults => {
                    spinnerContainer.style.display = 'none';

                    const urlResultsTableBody = document.getElementById('url-results-table').getElementsByTagName('tbody')[0];
                    urlResultsTableBody.innerHTML = '';
                    urlResults.forEach(url => {
                        const tr = document.createElement('tr');
                        const td = document.createElement('td');

                        const anchor = document.createElement('a');
                        anchor.href = url.href;
                        anchor.textContent = url.text;
                        td.appendChild(anchor);

                        tr.appendChild(td);
                        urlResultsTableBody.appendChild(tr);
                    });

                    const addCompanyModal = bootstrap.Modal.getInstance(document.getElementById('addCompanyModal'));
                    addCompanyModal.hide();

                    const testResultsModal = new bootstrap.Modal(document.getElementById('testResultsModal'), {});
                    testResultsModal.show();
                }).catch(error => {
                    spinnerContainer.style.display = 'none';

                    const addCompanyModal = document.getElementById('addCompanyModal');
                    const errorContainer = document.createElement('div');
                    errorContainer.className = 'alert alert-danger mt-2';
                    errorContainer.textContent = error.message || defaultErrorMessage;

                    const existingError = addCompanyModal.querySelector('.alert');
                    if (existingError) {
                        existingError.remove();
                    }

                    addCompanyModal.querySelector('.modal-body').appendChild(errorContainer);

                });
            });
        }

        const goBackBtn = document.getElementById('go-back');
        if (goBackBtn) {
            goBackBtn.addEventListener('click', function () {
                const testResultsModal = bootstrap.Modal.getInstance(document.getElementById('testResultsModal'));
                testResultsModal.hide();

                const addCompanyModal = new bootstrap.Modal(document.getElementById('addCompanyModal'), {});
                addCompanyModal.show();
            });
        }


        const runCrawlJobBtn = document.getElementById('run-crawl-job-btn');
        if (runCrawlJobBtn) {
            runCrawlJobBtn.addEventListener('click', runCrawlJob);
        }

        const runEmailJobBtn = document.getElementById('run-email-job-btn');
        if (runEmailJobBtn) {
            runEmailJobBtn.addEventListener('click', runEmailJob);
        }
    </script>
</body>

{% endblock %}