{% extends "base.html" %}

{% block content %}
<style>
    .error-message {
        color: red;
        text-align: center;
        margin-top: 10px;
    }
</style>
<div class="login-container">
    <div class="login-box">
        <h3 class="login-title">Login</h3>
        <form method="POST" action="/login">
            <div class="field">
                <div class="control">
                    <input class="login-input" type="email" name="email" placeholder="Your Email" autofocus>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="login-input" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>
            <button class="login-button" type="submit">Login</button>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="error-message">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
        </form>
    </div>
</div>
{% endblock %}